<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.mapper.StudentThesisMapper">
    <insert id="insertThesis">
        insert into `thesis`(`title`,`thesis_type_id`,`author`,`year`,`check`,`user_thesis_id`) values (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6})
    </insert>

    <select id="selectThesis" resultType="com.d.bean.Thesis">
        select `id`, `title`,  `author`, `year`, `check`,`thesis_type_id`
        from `thesis`
        where `user_thesis_id` = (select id from student where name = #{name})
    </select>
    <select id="selectThesisById" resultType="com.d.bean.Thesis">
        select `title`,  `author`, `year`, `check`,`thesis_type_id`
        from `thesis`
        where id = #{thesisID}
    </select>
    <select id="selectThesisByPage" resultType="com.d.bean.Thesis">
        select `id`, `title`, `thesis_type_id`, `author`, `year`, `check`,`user_thesis_id`
        from `thesis`
        where `user_thesis_id` = (select id from student where name = #{param1}) limit #{param2},#{param3}
    </select>
    <select id="selectThesisType" resultType="java.util.Map">
        select `id`,`type` from `thesistype`
    </select>
    <select id="selectThesisInfo" resultType="com.d.bean.Thesis">
        select `id`,`title`,`author`,`year`,`check`,`user_thesis_id`,`id_delete`,`thesis_type` from `thesis` where `id` = #{id}
    </select>

</mapper>